<% content_for :title do %>Devex Dashboard<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="twitter_user_followers" data-view="Number"
           data-title="Twitter Followers" style="background-color: #1d9fe3"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div
        data-id="signups"
        data-view="Graph"
        data-title="Signups"
        style="background-color:#ff9618">
      </div>
    </li>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div
      data-id="cv_uploads"
      data-view="Graph"
      data-title="CVs uploaded"
      style="background-color:#ff9618">
      </div>
    </li>
  </ul>
</div>
