<% content_for :title do %>Devex Dashboard<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div
        data-id="signups"
        data-view="Graph"
        data-title="Signups (weekly)"
        style="background-color:#ff9618">
      </div>
    </li>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div
      data-id="cv_uploads"
      data-view="GraphPerYears"
      data-title="CVs uploaded (weekly)"
      style="background-color:#ff9618">
      </div>
    </li>
  </ul>
</div>
